@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'mdb-ui-kit/css/mdb.min.css';

body,
html {
  min-height: 100vh;
  height: max-content;
  overflow: visible;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
