.navbar-complete{
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    font-family: monserrat-bold;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top:  40px;
    padding-left: 10%;
    padding-right: 10%;

}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a {
    color: rgb(9, 6, 22);
    text-decoration: none;
    font-weight: bold;
    background-color: #1D79C4;
    border-radius: 10vh;

}
nav ul li a:hover{
    color: rgb(9, 10, 105);
    transition: .3s;
    border-radius: 10vh;
}

footer{
    font-family:roboto,sans-serif;
    color: black;
    background-color: rgb(148, 161, 161);
}
